<div class="edit-on-gitlab-link">
<hr>
<p >
{# {{page|dump|safe}} #}


	<small><a href="{{site.repo}}/-/blob/main/{{ page.inputPath }}">Source of this page<i class="fab fa-gitlab"></i></a></small>
</p>

</div>