{% set navPages = collections.all | eleventyNavigation %}

{# {{ navPages | log }} #}

{# If the markdown page does not have yaml header, the page title is the folder path + file name. removing path from name #}
{% macro sanitizePageName(title)%}
  {%- if title.includes('/') -%}
    {{ title.split('/')[title.split('/').length-1] }}
  {%- else -%}
    {{title}}
  {%- endif -%}
{%- endmacro %}

<nav class="navigation-primary navigation-primary--light stretch-horizontal-M">
 {%-if site.version or site.owner and site.owner.image -%}
 <div class="btn-toggle-page-wrapper">
 <button class="btn-toggle-page" id="nav-bar-btn-toggle"> <i class="fas fa-bars"></i></button>
 </div>
  <div class="wrapper-site-info">
    {%-endif-%}
      {%-if site.owner and site.owner.image -%}

      <a href="/"><img class="site-owner-image" src="{{ site.owner.image}}" alt="Site image" width="100%" height="auto"></a>

      {%-endif-%}

      {%-if site.version or site.owner and site.owner.image -%}
    <p>
      <b>{{site.title}}</b>
        {%-if site.version-%}
        <a href="{{site.repo}}"  target="_blank" rel="noopener noreferrer">
            <i class="fas fa-layer-group"></i></a> <code>{{site.version}}</code>
        {%-endif-%}
    </p>
    <p>
      <i>{{site.description}}</i>
    </p>


      </div>
    {%-endif-%}
      {% include 'components/search.njk' %}

      <a href="javascript:ddtreemenu.flatten('treemenu3', 'expand')" class="navigation-link">Expand All</a> | <a href="javascript:ddtreemenu.flatten('treemenu3', 'contact')" class="navigation-link">Collapse All</a>

      {# {{ navPages | dump |safe }} #}
      {% set lang = page | pageLang %}


      {% macro renderNavListItem(entry, sub) -%}
        {# Some interesting workarounds/conditions here to apply .is-active classes down the tree #}
        {% set isHomepage = entry.url == '/' %}
        {% set isActive = page.url | endsWith(entry.url) %}
        {% set isSameLang = entry.key | endsWith(lang) %}
    <!-- for "{{entry.key}}" lang: "{{lang}}" isSameLang "{{isSameLang}}"  -->
    {% if isSameLang or entry.parent==='' %}
    <li
     class="navigation-link {% if sub %}navigation-primary__sub-item{% else %}navigation-primary__item{% endif %}"
    >
          {# <details><summary>test </summary>yo  </details> #}
          {# {{entry.url |dump |safe}} #}
          <a
        {% if entry.url == page.url %}aria-current="page"{% endif %}
        href='{%if isHomepage %} {{site.baseUrl | url}}{% endif%}{% if not isHomepage %} {{site.baseUrl}}/{{ entry.url | url }} {%endif %}'
        class="navigation-link
          {% if sub %}navigation-primary__sub-link{% else %}navigation-primary__link{% endif %}
          {% if isActive and not isHomepage %}is-active{% endif %}
          {% if isHomepage and entry.url == page.url %}is-active{% endif %}
        "
      >
            <span title="{{sanitizePageName(entry.title)}}"
          class="navigation-link {% if sub %}navigation-primary__sub-link-text{% else %}navigation-primary__link-text{% endif %}"
        >
              <span class="emoji">{{entry.emoji}}</span>
              {{sanitizePageName(entry.title)}}
            </span>
          </a>
          {%- if entry.children.length -%}
            <ul class="navigation-link navigation-primary__sub-items">
              {%- for child in entry.children %} {{
          renderNavListItem(child, true)
        }}
              {% endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {% endif %}
    {%- endmacro %}
  </ul>

  <ul class="navigation-link navigation-primary__items treeview"  id="treemenu3">
    {%- for entry in navPages %}{{
      renderNavListItem(entry)
    }}
    {%- endfor -%}
  </ul>
</nav>